:root {
	--foreground-color: #000000;
	--background-color: rgba(150, 150, 150, 0.7);
	--button-foreground-color: #000000;
	--button-background-color: #E8E8E8;
	--highlight-color: #8B008B;
}

html, body {
	font: 10px sans-serif;
	font-family: Arial,sans-serif;
	padding:0;
	margin:0;
	background-color : var(--background-color);
	overflow: hidden;
	color: var(--foreground-color);;
	height: 100%;
}

.scrollable{
	overflow-y:auto;
}
.notScrollable{
	overflow:hidden;
}
.bordered {
	border:2px solid black;
}
.hidden {
	display:none;
}
.title {
	padding:2px;
	font-size:40px;
}
.subTitle {
	padding:2px;
	font-size:30px;
}
.caption {
	padding:2px;
	padding-left:10px;
	font-size:18px;
}
.bar1, .bar2, .bar3 {
	width: 20px;
	height: 3px;
	background-color: white;/*var(--button-foreground-color);*/
	margin: 4px;
	transition: 0.4s;
}
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 4px);
	transform: rotate(-45deg) translate(-6px, 4px);
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-6px, -4px);
	transform: rotate(45deg) translate(-6px, -4px);
}

.dot {
	height: 8px;
	width: 8px;
	margin-top:2px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
}
.menuButton{
	position:absolute;
	width:28px;
	height:24px;
	top:10px;
	right:20px;
	z-index:10;
}
.menuButton:hover{
	cursor: pointer;
}
.buttonDiv{
	padding: 4px;
	margin: 0px;
	text-align: center;
	border: 2px solid var(--button-foreground-color);
	/*border-radius: 5px;*/
	opacity: 1.0;
	display:block;
	font-size:42px;
	color: var(--button-foreground-color);
	background-color:var(--button-background-color);
	cursor: pointer;
}
.buttonDiv:hover {
	background-color: var(--button-foreground-color);
	color: var(--button-background-color);
}
.buttonDiv input{
	position:absolute;
	height:50px;
	width: 50px;
	padding: 0px;
	margin: 0px;
	color: var(--button-foreground-color);
	/*background-color:var(--button-background-color);*/
	text-align: center;
	/*border-radius: 5px;*/
	opacity: 1.0;
	display:block;
	font-size:40px;
}
.buttonDivActive {
	background-color: var(--button-foreground-color);
	color: var(--button-background-color);
}
.buttonDivInverse{
	padding: 4px;
	margin: 0px;
	text-align: center;
	border: 2px solid var(--button-background-color);
	/*border-radius: 5px;*/
	opacity: 1.0;
	/*display:block;*/
	font-size:42px;
	/*background-color: var(--button-foreground-color);*/
	color:var(--button-background-color);
	cursor: pointer;
}
.buttonDivInverse:hover {
	color: var(--button-foreground-color);
	background-color: var(--button-background-color);
}

.highlighted{
	color: var(--highlight-color);
}
.training{
	margin: 10px;
	width: 200px;
	height: 20px;
	font-size: 16px;
}
.trainingText{}

.content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	cursor:pointer;
	margin-left:20px;
}

.collapsible:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 18px;
	float: left;
	margin-left: 5px;
	padding-top:5px;
	cursor:pointer;
	color:white;
}
.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
	font-size: 18px;
	float: left;
	margin-left: 5px;
	padding-top:5px;
	cursor:pointer;
	color:white;
}
.redBordered{
	border:10px solid red;
	margin: -8px;

}
.menu{
	background-color: var(--background-color);
}
#videoDiv{
	background-color: black;
}